/* CSS reset */
*{
    margin: 0;
    padding: 0;
}
/* CSS variables */
:root{
    --navbar-height: 40px;
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
}
/* navigation bar logo and image */
#logo{
    margin: 5px 18px;
}
#logo img{
    height: 56px;
    margin: 3px 6px;
    border-radius: 15px;
}
/* navigation bar list styling */
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 440px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('../img/main.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.99;
}
#home h1{
    color: white;
    text-align: center;
    font-size: 2.8rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
#home p{
    font-family: 'Playfair Display', serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 1.1rem;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

/* services section */
.services-container{
    margin-top: 80px;
}
#services{
    margin: 3px 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 23px;
    background: aliceblue;
    
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

/* client section */
#client-section{
    height: 344px;
    position: relative;
    padding: 10px 0px;
}
#client-section h1{
    color: aliceblue;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/food3.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 84px;
}
.client-items{
    padding: 30px 54px;
}
#clients #instagram img{
    height: 110px;
}

/* contact section */
#contact{
    position: relative;
}
#contact .h-primary{
    color: white;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('../img/food.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: 40%;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 0.9rem;
}
#contact-box label{
    font-size: 1.2rem;
    color: white;
    font-family: 'PT Serif', serif;
}
footer{
    background: black;
    color: white;
}
/* utilities classes*/
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Playfair Display', serif;
}
.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(206, 49, 49);
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 80px;
}
.btn:hover{
    background-color: rgb(146, 10, 10);
}
.center{
    text-align: center;
}
